/* CSS Document */

/* Table of Content
==================================================
	1.0  -  Transition
	2.0  -  Type 8
	3.0  -  General
	4.0  -  Browser Fix
	5.0  -  Default Color
	6.0  -  Responsive
	7.0  -  Skin Colors*/

/*--------------------------------------------------------------
	1.0 - Transition
	--------------------------------------------------------------*/

.woo-type8 ul.products li.product .product-details h5:before,
.woo-type8 ul.products li.product .product-details h5:after {
    content: "";
    margin: 0 auto;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    -webkit-transition: all 300ms linear 0s;
    -moz-transition: all 300ms linear 0s;
    -ms-transition: all 300ms linear 0s;
    -o-transition: all 300ms linear 0s;
    transition: all 300ms linear 0s;
}

.woo-type8 ul.products li.product .product-wrapper,
.woo-type8 ul.products li.product .product-thumb,
.woo-type8 ul.products li.product .product-thumb:after,
.woo-type8 ul.products li.product .product-thumb a.add_to_cart_button,
.woo-type8 ul.products li.product .product-thumb a.button.product_type_simple,
.woo-type8 ul.products li.product .product-thumb a.button.product_type_variable,
.woo-type8 ul.products li.product .product-thumb a.added_to_cart.wc-forward,
.woo-type8 ul.products li.product .product-thumb a.add_to_wishlist,
.woo-type8 ul.products li.product .product-thumb .yith-wcwl-wishlistaddedbrowse a,
.woo-type8 ul.products li.product .product-thumb .yith-wcwl-wishlistexistsbrowse a {
    -webkit-transition: all 0.65s ease 0s;
    -moz-transition: all 0.65s ease 0s;
    -ms-transition: all 0.65s ease 0s;
    -o-transition: all 0.65s ease 0s;
    transition: all 0.65s ease 0s;
}

.woo-type8 ul.products li.product-category .product-thumb .image:after,
.woo-type8 ul.products li.product .product-details h5:before,
.woo-type8 ul.products li.product .product-details h5:after {
    -webkit-transition: all 300ms linear 0s;
    -moz-transition: all 300ms linear 0s;
    -ms-transition: all 300ms linear 0s;
    -o-transition: all 300ms linear 0s;
    transition: all 300ms linear 0s;
}

/*--------------------------------------------------------------
	2.0 - Type8
	--------------------------------------------------------------*/

.woo-type8 ul.products li.product .product-wrapper {
    border: 1px solid;
}

.woo-type8 ul.products li.product .featured-tag {
    top: 15px;
}

.woo-type8 ul.products li.product-category .product-thumb .image:after {
    content: "";
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
}

.woo-type8 ul.products li.product .product-thumb a.add_to_cart_button,
.woo-type8 ul.products li.product .product-thumb a.button.product_type_simple,
.woo-type8 ul.products li.product .product-thumb a.button.product_type_variable,
.woo-type8 ul.products li.product .product-thumb a.added_to_cart.wc-forward,
.woo-type8 ul.products li.product .product-thumb a.add_to_wishlist,
.woo-type8 ul.products li.product .product-thumb .yith-wcwl-wishlistaddedbrowse a,
.woo-type8 ul.products li.product .product-thumb .yith-wcwl-wishlistexistsbrowse a {
    border: 1px solid;
}

.woo-type8 ul.products li.product .product-details h5 {
    border: none;
    position: relative;
    text-transform: uppercase;
}

.woo-type8 ul.products li.product .product-details h5 a {
    padding: 20px 0 15px;
}

.woo-type8 ul.products li.product .product-details h5:before,
.woo-type8 ul.products li.product .product-details h5:after {
    content: "";
    margin: 0 auto;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.woo-type8 ul.products li.product .product-details h5:before {
    height: 1px;
    width: 100px;
}

.woo-type8 ul.products li.product .product-details h5:after {
    border-style: solid;
    border-width: 0 4px 4px;
    height: 0;
    width: 0;
}

.woo-type8 ul.products li.product .product-details .product-price {
    padding: 0 15px;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

.woo-type8 ul.products li.product:hover .product-details h5:before {
    width: 150px;
}

.woo-type8 ul.products li.product:hover .product-details .product-rating-wrapper {
    right: 12px;
}

.woo-type8.woocommerce ul.products li:hover:not(.purchasable) .product-details .product-rating-wrapper,
.woo-type8 .woocommerce ul.products li:hover:not(.purchasable) .product-details .product-rating-wrapper {
    right: 50%;
}

.woo-type8 ul.products li.product .product-details .product-rating-wrapper .star-rating {
    margin: 8px 0 0;
}

.woo-type8 .woocommerce-tabs .panel h2,
.woo-type8 #reviews h3,
.woo-type8 #respond h3#reply-title {
    letter-spacing: 1px;
}

.woo-type8 .page-with-sidebar ul.products li.product .dt-sc-one-fourth .product-details h5,
.woo-type8 .page-with-sidebar .woocommerce.columns-4 ul.products li.product .dt-sc-one-fourth .product-details h5,
.woo-type8 .with-both-sidebar ul.products li.product .dt-sc-one-third .product-details h5,
.woo-type8 .with-both-sidebar .woocommerce.columns-3 ul.products li.product .dt-sc-one-third .product-details h5,
.woo-type8 .page-with-sidebar ul.products li.product .dt-sc-one-fourth .price,
.woo-type8 .page-with-sidebar .woocommerce.columns-4 ul.products li.product .dt-sc-one-fourth .price,
.woo-type8 .with-both-sidebar ul.products li.product .dt-sc-one-third .price,
.woo-type8 .with-both-sidebar .woocommerce.columns-3 ul.products li.product .dt-sc-one-third .price {
    font-size: 10px;
}

.woo-type8 .page-with-sidebar ul.products li.product .dt-sc-one-fourth .product-details .product-price,
.woo-type8 .page-with-sidebar .woocommerce.columns-4 ul.products li.product .dt-sc-one-fourth .product-details .product-price,
.woo-type8 .with-both-sidebar ul.products li.product .dt-sc-one-third .product-details .product-price,
.woo-type8 .with-both-sidebar .woocommerce.columns-3 ul.products li.product .dt-sc-one-third .product-details .product-price {
    padding: 0 8px;
}

.woo-type8 .page-with-sidebar ul.products li.product:hover .dt-sc-one-fourth .product-details .product-rating-wrapper,
.woo-type8 .page-with-sidebar .woocommerce.columns-4 ul.products li.product:hover .dt-sc-one-fourth .product-details .product-rating-wrapper,
.woo-type8 .with-both-sidebar ul.products li.product:hover .dt-sc-one-third .product-details .product-rating-wrapper,
.woo-type8 .with-both-sidebar .woocommerce.columns-3 ul.products li.product:hover .dt-sc-one-third .product-details .product-rating-wrapper {
    right: 5px;
}

.woo-type8 .page-with-sidebar ul.products li.product:hover:not(.purchasable) .dt-sc-one-fourth .product-details .product-rating-wrapper,
.woo-type8 .page-with-sidebar .woocommerce.columns-4 ul.products li.product:hover:not(.purchasable) .dt-sc-one-fourth .product-details .product-rating-wrapper,
.woo-type8 .with-both-sidebar ul.products li.product:hover:not(.purchasable) .dt-sc-one-third .product-details .product-rating-wrapper,
.woo-type8 .with-both-sidebar .woocommerce.columns-3 ul.products li.product:hover:not(.purchasable) .dt-sc-one-third .product-details .product-rating-wrapper {
    margin-right: 0;
    right: 50%;
    width: auto;
    -webkit-transform: translateX(50%);
    -moz-transform: translateX(50%);
    transform: translateX(50%);
}

.woo-type8 .page-with-sidebar ul.products li.product .dt-sc-one-fourth .product-details .product-rating-wrapper .star-rating,
.woo-type8 .page-with-sidebar .woocommerce.columns-4 ul.products li.product .dt-sc-one-fourth .product-details .product-rating-wrapper .star-rating,
.woo-type8 .with-both-sidebar ul.products li.product .dt-sc-one-third .product-details .product-rating-wrapper .star-rating,
.woo-type8 .with-both-sidebar .woocommerce.columns-3 ul.products li.product .dt-sc-one-third .product-details .product-rating-wrapper .star-rating {
    font-size: 9px;
    margin: 11px 0 0;
}

.woo-type8 .quantity .qty,
.woo-type8.woocommerce-page .quantity .qty,
.woo-type8 #coupon_code.input-text {
    height: 38px;
    min-height: 38px;
}

.woo-type8 .quantity .qty,
.woo-type8.woocommerce-page .quantity .qty {
    padding: 0;
}

.woo-type8 #coupon_code.input-text {
    padding-top: 0;
    padding-bottom: 0;
}

/*--------------------------------------------------------------
	3.0 - General
	--------------------------------------------------------------*/

.woo-type8.woocommerce input[type="text"],
.woo-type8.woocommerce input[type="password"],
.woo-type8.woocommerce input[type="email"],
.woo-type8.woocommerce input[type="url"],
.woo-type8.woocommerce input[type="tel"],
.woo-type8.woocommerce input[type="number"],
.woo-type8.woocommerce input[type="range"],
.woo-type8.woocommerce input[type="date"],
.woo-type8.woocommerce textarea,
.woo-type8.woocommerce input.text,
.woo-type8.woocommerce input[type="search"],
.woo-type8.woocommerce select,
.woo-type8 .woocommerce input[type="text"],
.woo-type8 .woocommerce input[type="password"],
.woo-type8 .woocommerce input[type="email"],
.woo-type8 .woocommerce input[type="url"],
.woo-type8 .woocommerce input[type="tel"],
.woo-type8 .woocommerce input[type="number"],
.woo-type8 .woocommerce input[type="range"],
.woo-type8 .woocommerce input[type="date"],
.woo-type8 .woocommerce textarea,
.woo-type8 .woocommerce input.text,
.woo-type8 .woocommerce input[type="search"],
.woo-type8 .woocommerce select {
    font-family: inherit;
    font-size: inherit
}

.woo-type8.woocommerce a.button,
.woo-type8.woocommerce button.button,
.woo-type8.woocommerce button,
.woo-type8.woocommerce input.button,
.woo-type8.woocommerce input[type=button],
.woo-type8.woocommerce input[type=submit],
.woo-type8.woocommerce #respond input#submit,
.woo-type8.woocommerce a.button.alt,
.woo-type8.woocommerce button.button.alt,
.woo-type8.woocommerce input.button.alt,
.woo-type8.woocommerce #respond input#submit.alt,
.woo-type8 .woocommerce a.button,
.woo-type8 .woocommerce button.button,
.woo-type8 .woocommerce button,
.woo-type8 .woocommerce input.button,
.woo-type8 .woocommerce input[type=button],
.woo-type8 .woocommerce input[type=submit],
.woo-type8 .woocommerce #respond input#submit,
.woo-type8 .woocommerce a.button.alt,
.woo-type8 .woocommerce button.button.alt,
.woo-type8 .woocommerce input.button.alt,
.woo-type8 .woocommerce #respond input#submit.alt,
.woo-type8.woocommerce.single-product div.product .product-thumb-wrapper .add_to_wishlist,
.woo-type8 .wishlist_table .add_to_cart.button,
.woo-type8 .yith-wcwl-add-button a.add_to_wishlist,
.woo-type8 .yith-wcwl-popup-button a.add_to_wishlist,
.woo-type8 .wishlist_table a.ask-an-estimate-button,
.woo-type8 .wishlist-title a.show-title-form,
.woo-type8 .hidden-title-form a.hide-title-form,
.woo-type8 .yith-wcwl-wishlist-new button,
.woo-type8 .wishlist_manage_table a.create-new-wishlist,
.woo-type8 .wishlist_manage_table button.submit-wishlist-changes,
.woo-type8 .yith-wcwl-wishlist-search-form button.wishlist-search-button,
.woo-type8 .cart input.button,
.woo-type8.woocommerce .pagination ul li a,
.woo-type8.woocommerce .pagination ul li span,
.woo-type8 .woocommerce .pagination ul li a,
.woo-type8 .woocommerce .pagination ul li span,
.woo-type8 .woocommerce-message,
.woo-type8 .woocommerce-info,
.woo-type8 .woocommerce-error,
.woo-type8 .woocommerce-message:before,
.woo-type8 .woocommerce-info:before,
.woo-type8 .woocommerce-error:before {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
}

/*--------------------------------------------------------------
	4.0 - Browser Fix
	--------------------------------------------------------------*/

@-moz-document url-prefix() {
    .woo-type8 .quantity .qty,
    .woo-type8.woocommerce-page .quantity .qty {
        height: 40px;
        min-height: 40px;
    }
    .woo-type8 #coupon_code.input-text {
        height: 36px;
        min-height: 36px;
    }
    .woo-type8 form .form-row .select2-container {
        line-height: 37px;
    }
}

/*--------------------------------------------------------------
	5.0 - Default Color
	--------------------------------------------------------------*/

.woo-type8 ul.products li.product .product-thumb a.add_to_cart_button,
.woo-type8 ul.products li.product .product-thumb a.button.product_type_simple,
.woo-type8 ul.products li.product .product-thumb a.button.product_type_variable,
.woo-type8 ul.products li.product .product-thumb a.added_to_cart.wc-forward,
.woo-type8 ul.products li.product .product-thumb a.add_to_wishlist,
.woo-type8 ul.products li.product .product-thumb .yith-wcwl-wishlistaddedbrowse a,
.woo-type8 ul.products li.product .product-thumb .yith-wcwl-wishlistexistsbrowse a,
.woo-type8 ul.products li.product-category .product-thumb .image:after {
    background-color: rgba(0, 0, 0, 0);
}

.woo-type8 ul.products li.product .product-thumb a.add_to_cart_button:hover,
.woo-type8 ul.products li.product .product-thumb a.button.product_type_simple:hover,
.woo-type8 ul.products li.product .product-thumb a.button.product_type_variable:hover,
.woo-type8 ul.products li.product .product-thumb a.added_to_cart.wc-forward:hover,
.woo-type8 ul.products li.product .product-thumb a.add_to_wishlist:hover,
.woo-type8 ul.products li.product .product-thumb .yith-wcwl-wishlistaddedbrowse a:hover,
.woo-type8 ul.products li.product .product-thumb .yith-wcwl-wishlistexistsbrowse a:hover,
.woo-type8 ul.products li.product:hover .product-details,
.woo-type8 ul.products li.product .product-details h5:before {
    background-color: #fff;
}

/*----*****---- << Borders >> --****--*/

.woo-type8 ul.products li.product:hover .product-wrapper {
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    -ms-box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    -o-box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}

.woo-type8 ul.products li.product .product-wrapper {
    border-color: rgba(0, 0, 0, 0);
}

.woo-type8 ul.products li.product .product-details h5:after {
    border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #fff rgba(0, 0, 0, 0);
}

/*----*****---- << Colors >> --****--*/

.woo-type8 ul.products li.product:hover .product-details h5 a,
.woo-type8 ul.products li.product-category:hover .product-details h5,
.woo-type8 ul.products li.product-category:hover .product-details h5 .count,
.woo-type8 ul.products li.product:hover .product-details .product-price .amount,
.woo-type8 ul.products li.product:hover .product-details span.price,
.woo-type8 ul.products li.product:hover .product-details span.price del,
.woo-type8 ul.products li.product:hover .product-details span.price del .amount,
.woo-type8 ul.products li.product:hover .product-details span.price ins,
.woo-type8 ul.products li.product:hover .product-details span.price ins .amount {
    color: #000;
}

.woo-type8 ul.products li.product .product-thumb a.add_to_cart_button,
.woo-type8 ul.products li.product .product-thumb a.button.product_type_simple,
.woo-type8 ul.products li.product .product-thumb a.button.product_type_variable,
.woo-type8 ul.products li.product .product-thumb a.added_to_cart.wc-forward,
.woo-type8 ul.products li.product .product-thumb a.add_to_wishlist,
.woo-type8 ul.products li.product .product-thumb .yith-wcwl-wishlistaddedbrowse a,
.woo-type8 ul.products li.product .product-thumb .yith-wcwl-wishlistexistsbrowse a,
.woo-type8 ul.products li.product .product-thumb a.add_to_cart_button:before,
.woo-type8 ul.products li.product .product-thumb a.button.product_type_simple:before,
.woo-type8 ul.products li.product .product-thumb a.button.product_type_variable:before,
.woo-type8 ul.products li.product .product-thumb a.added_to_cart.wc-forward:before,
.woo-type8 ul.products li.product .product-thumb a.add_to_wishlist:before,
.woo-type8 ul.products li.product .product-thumb .yith-wcwl-wishlistaddedbrowse a:before,
.woo-type8 ul.products li.product .product-thumb .yith-wcwl-wishlistexistsbrowse a:before,
.woo-type8 ul.products li.product .product-details h5 a,
.woo-type8 ul.products li.product-category .product-details h5,
.woo-type8 ul.products li.product-category .product-details h5 .count,
.woo-type8 ul.products li.product .product-details .product-price .amount,
.woo-type8 ul.products li.product .product-details span.price,
.woo-type8 ul.products li.product .product-details span.price del,
.woo-type8 ul.products li.product .product-details span.price del .amount,
.woo-type8 ul.products li.product .product-details span.price ins,
.woo-type8 ul.products li.product .product-details span.price ins .amount {
    color: #fff;
}

/*--------------------------------------------------------------
	 6.0 - Responsive
	--------------------------------------------------------------*/

/* Note: Design for a width of 960px */

@media only screen and (min-width:992px) and (max-width:1199px) {
    .woo-type8 ul.products li.product .product-details .product-price {
        padding: 0 10px;
    }
    .woo-type8 ul.products li.product:hover .product-details .product-rating-wrapper {
        right: 8px;
    }
    .woo-type8 ul.products li.product .product-details h5:before {
        width: calc(100% - 100px);
    }
    .woo-type8 ul.products li.product:hover .product-details h5:before {
        width: calc(100% - 50px);
    }
    .woo-type8 ul.products li.product .product-details h5:before {
        width: calc(100% - 100px);
    }
    .woo-type8 ul.products li.product:hover .product-details h5:before {
        width: calc(100% - 50px);
    }
}

/*----*****---- << Tablet (Portrait) >> ----*****----*/

/* Note: Design for a width of 768px */

@media only screen and (min-width:768px) and (max-width:991px) {
    .woo-type8 ul.products li.product .product-details h5 {
        margin: 0 0 5px;
    }
    .woo-type8 ul.products li.product .product-details {
        padding: 0 0 10px;
    }
    .woo-type8 ul.products li.product .product-details h5 a {
        padding: 16px 0 15px;
    }
    .woo-type8 ul.products li.product .product-details h5:before {
        width: calc(100% - 100px);
    }
    .woo-type8 ul.products li.product:hover .product-details h5:before {
        width: calc(100% - 50px);
    }
    .woo-type8 ul.products li.product .product-details .product-price {
        padding: 0 10px;
    }
    .woo-type8 ul.products li.product:hover .product-details .product-rating-wrapper {
        right: 8px;
    }
    .woo-type8 ul.products li.product .product-details .product-rating-wrapper .star-rating {
        margin: 10px 0 0;
    }
}