/* CSS Document */

/* Table of Content
==================================================
	1.0  -  Transition
	2.0  -  Type 6
	3.0  -  General
	4.0  -  Browser Fix
	5.0  -  Default Color
	6.0  -  Responsive
	7.0  -  Skin Colors*/

/*--------------------------------------------------------------
	1.0 - Transition
	--------------------------------------------------------------*/

.woo-type6 ul.products li.product .product-thumb a.add_to_cart_button:after,
.woo-type6 ul.products li.product .product-thumb a.button.product_type_simple:after,
.woo-type6 ul.products li.product .product-thumb a.button.product_type_variable:after,
.woo-type6 ul.products li.product .product-thumb a.added_to_cart.wc-forward:after,
.woo-type6 ul.products li.product .product-thumb a.add_to_wishlist:after,
.woo-type6 ul.products li.product .product-thumb .yith-wcwl-wishlistaddedbrowse a:after,
.woo-type6 ul.products li.product .product-thumb .yith-wcwl-wishlistexistsbrowse a:after {
    -webkit-transition: transform 0.2s ease 0s, opacity 0.3s ease 0s;
    -moz-transition: transform 0.2s ease 0s, opacity 0.3s ease 0s;
    -ms-transition: transform 0.2s ease 0s, opacity 0.3s ease 0s;
    -o-transition: transform 0.2s ease 0s, opacity 0.3s ease 0s;
    transition: transform 0.2s ease 0s, opacity 0.3s ease 0s;
}

.woo-type6 ul.products li.product-category .product-thumb .image:after,
.woo-type6 ul.products li.product .product-details h5,
.woo-type6 ul.products li.product-category .product-details h5 .count {
    -webkit-transition: all 300ms linear 0s;
    -moz-transition: all 300ms linear 0s;
    -ms-transition: all 300ms linear 0s;
    -o-transition: all 300ms linear 0s;
    transition: all 300ms linear 0s;
}

.woo-type6 ul.products li.pif-has-gallery .product-thumb .image img:first-child {
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -ms-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

.woo-type6 ul.products li:not(.pif-has-gallery) .product-thumb .image img {
    -webkit-transition: all 0.5s ease-in-out 0s;
    -moz-transition: all 0.5s ease-in-out 0s;
    -ms-transition: all 0.5s ease-in-out 0s;
    -o-transition: all 0.5s ease-in-out 0s;
    transition: all 0.5s ease-in-out 0s;
}

/*--------------------------------------------------------------
	2.0 - Type6
	--------------------------------------------------------------*/

.woo-type6 ul.products li.product .product-thumb {
    border: 5px solid;
    overflow: hidden;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

.woo-type6 ul.products li.product .featured-tag {
    left: 5px;
    top: 15px;
}

.woo-type6 ul.products li.product .onsale,
.woo-type6 ul.products li.product .out-of-stock {
    right: 5px;
    top: 5px;
}

.woo-type6 ul.products li.product:hover .onsale,
.woo-type6 ul.products li.product:hover .out-of-stock {
    right: 10px;
    top: 10px;
}

.woo-type6 ul.products li.product-category .product-thumb .image:after {
    content: "";
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
}

.woo-type6 ul.products li.product .product-thumb a.add_to_cart_button,
.woo-type6 ul.products li.product .product-thumb a.button.product_type_simple,
.woo-type6 ul.products li.product .product-thumb a.button.product_type_variable,
.woo-type6 ul.products li.product .product-thumb a.added_to_cart.wc-forward,
.woo-type6 ul.products li.product .product-thumb a.add_to_wishlist,
.woo-type6 ul.products li.product .product-thumb .yith-wcwl-wishlistaddedbrowse a,
.woo-type6 ul.products li.product .product-thumb .yith-wcwl-wishlistexistsbrowse a {
    border: 1px solid;
}

.woo-type6 ul.products li.product .product-thumb a.add_to_cart_button:after,
.woo-type6 ul.products li.product .product-thumb a.button.product_type_simple:after,
.woo-type6 ul.products li.product .product-thumb a.button.product_type_variable:after,
.woo-type6 ul.products li.product .product-thumb a.added_to_cart.wc-forward:after,
.woo-type6 ul.products li.product .product-thumb a.add_to_wishlist:after,
.woo-type6 ul.products li.product .product-thumb .yith-wcwl-wishlistaddedbrowse a:after,
.woo-type6 ul.products li.product .product-thumb .yith-wcwl-wishlistexistsbrowse a:after {
    content: "";
    height: 100%;
    padding: 2px;
    position: absolute;
    left: -2px;
    top: -2px;
    width: 100%;
    z-index: -1;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    -ms-box-sizing: content-box;
    -o-box-sizing: content-box;
    box-sizing: content-box;
}

.woo-type6 ul.products li.product .product-thumb a.add_to_cart_button:hover:after,
.woo-type6 ul.products li.product .product-thumb a.button.product_type_simple:hover:after,
.woo-type6 ul.products li.product .product-thumb a.button.product_type_variable:hover:after,
.woo-type6 ul.products li.product .product-thumb a.added_to_cart.wc-forward:hover:after,
.woo-type6 ul.products li.product .product-thumb a.add_to_wishlist:hover:after,
.woo-type6 ul.products li.product .product-thumb .yith-wcwl-wishlistaddedbrowse a:hover:after,
.woo-type6 ul.products li.product .product-thumb .yith-wcwl-wishlistexistsbrowse a:hover:after {
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transform: scale(1.3);
    -moz-transform: scale(1.3);
    -ms-transform: scale(1.3);
    -o-transform: scale(1.3);
    transform: scale(1.3);
}

.woo-type6 ul.products li.product .product-content:after {
    content: none;
}

.woo-type6 ul.products li.product .onsale,
.woo-type6 ul.products li.product .out-of-stock,
.woo-type6 ul.products li.product:hover .onsale,
.woo-type6 ul.products li.product:hover .out-of-stock {
    height: 30px;
    line-height: 30px;
    right: 10px;
    top: 10px;
    width: 30px;
}

.woo-type6 ul.products li.product .product-details h5 {
    border-width: 0;
    font-size: 24px;
    margin-bottom: 5px;
}

.woo-type6 ul.products li.product .price,
.woo-type6 ul.products li.product:hover .price {
    padding: 5px 20px;
    text-align: center;
    width: auto;
}

.woo-type6 ul.products li.product .product-details .product-rating-wrapper,
.woo-type6 ul.products li.product:hover .product-details .product-rating-wrapper {
    display: none;
}

.woo-type6 .page-with-sidebar ul.products li.product .dt-sc-one-fourth .product-details h5,
.woo-type6 .page-with-sidebar .woocommerce.columns-4 ul.products li.product .dt-sc-one-fourth .product-details h5,
.woo-type6 .with-both-sidebar ul.products li.product .dt-sc-one-third .product-details h5,
.woo-type6 .with-both-sidebar .woocommerce.columns-3 ul.products li.product .dt-sc-one-third .product-details h5 {
    font-size: 20px;
}

.woo-type6 .page-with-sidebar ul.products li.product .dt-sc-one-fourth .price,
.woo-type6 .page-with-sidebar .woocommerce.columns-4 ul.products li.product .dt-sc-one-fourth .price,
.woo-type6 .with-both-sidebar ul.products li.product .dt-sc-one-third .price,
.woo-type6 .with-both-sidebar .woocommerce.columns-3 ul.products li.product .dt-sc-one-third .price {
    font-size: 13px;
    padding: 5px 15px;
}

.woo-type6 .select2-container .select2-choice,
.woo-type6.woocommerce .selection-box:after,
.woo-type6 .woocommerce .selection-box:after {
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    border-radius: 8px;
}

.woo-type6.woocommerce .selection-box:after,
.woo-type6 .woocommerce .selection-box:after {
    right: 1px;
}

.woo-type6 .quantity .qty,
.woo-type6.woocommerce-page .quantity .qty,
.woo-type6 #coupon_code.input-text {
    height: 37px;
    min-height: 37px;
}

.woo-type6 .quantity .qty,
.woo-type6.woocommerce-page .quantity .qty {
    padding: 1px;
}

.woo-type6 form .form-row .select2-container {
    line-height: 35px;
}

.woo-type6 #coupon_code.input-text {
    padding-top: 0;
    padding-bottom: 0;
}

/*--------------------------------------------------------------
	3.0 - General
	--------------------------------------------------------------*/

.woo-type6.woocommerce input[type="text"],
.woo-type6.woocommerce input[type="password"],
.woo-type6.woocommerce input[type="email"],
.woo-type6.woocommerce input[type="url"],
.woo-type6.woocommerce input[type="tel"],
.woo-type6.woocommerce input[type="number"],
.woo-type6.woocommerce input[type="range"],
.woo-type6.woocommerce input[type="date"],
.woo-type6.woocommerce textarea,
.woo-type6.woocommerce input.text,
.woo-type6.woocommerce input[type="search"],
.woo-type6.woocommerce select,
.woo-type6 .woocommerce input[type="text"],
.woo-type6 .woocommerce input[type="password"],
.woo-type6 .woocommerce input[type="email"],
.woo-type6 .woocommerce input[type="url"],
.woo-type6 .woocommerce input[type="tel"],
.woo-type6 .woocommerce input[type="number"],
.woo-type6 .woocommerce input[type="range"],
.woo-type6 .woocommerce input[type="date"],
.woo-type6 .woocommerce textarea,
.woo-type6 .woocommerce input.text,
.woo-type6 .woocommerce input[type="search"],
.woo-type6 .woocommerce select {
    font-family: inherit;
    font-size: inherit;
}

.woo-type6.woocommerce a.button,
.woo-type6.woocommerce button.button,
.woo-type6.woocommerce button,
.woo-type6.woocommerce input.button,
.woo-type6.woocommerce input[type=button],
.woo-type6.woocommerce input[type=submit],
.woo-type6.woocommerce #respond input#submit,
.woo-type6.woocommerce a.button.alt,
.woo-type6.woocommerce button.button.alt,
.woo-type6.woocommerce input.button.alt,
.woo-type6.woocommerce #respond input#submit.alt,
.woo-type6 .woocommerce a.button,
.woo-type6 .woocommerce button.button,
.woo-type6 .woocommerce button,
.woo-type6 .woocommerce input.button,
.woo-type6 .woocommerce input[type=button],
.woo-type6 .woocommerce input[type=submit],
.woo-type6 .woocommerce #respond input#submit,
.woo-type6 .woocommerce a.button.alt,
.woo-type6 .woocommerce button.button.alt,
.woo-type6 .woocommerce input.button.alt,
.woo-type6 .woocommerce #respond input#submit.alt,
.woo-type6.woocommerce.single-product div.product .product-thumb-wrapper .add_to_wishlist,
.woo-type6 .wishlist_table .add_to_cart.button,
.woo-type6 .yith-wcwl-add-button a.add_to_wishlist,
.woo-type6 .yith-wcwl-popup-button a.add_to_wishlist,
.woo-type6 .wishlist_table a.ask-an-estimate-button,
.woo-type6 .wishlist-title a.show-title-form,
.woo-type6 .hidden-title-form a.hide-title-form,
.woo-type6 .yith-wcwl-wishlist-new button,
.woo-type6 .wishlist_manage_table a.create-new-wishlist,
.woo-type6 .wishlist_manage_table button.submit-wishlist-changes,
.woo-type6 .yith-wcwl-wishlist-search-form button.wishlist-search-button,
.woo-type6 .cart input.button,
.woo-type6.woocommerce .pagination ul li a,
.woo-type6.woocommerce .pagination ul li span,
.woo-type6 .woocommerce .pagination ul li a,
.woo-type6 .woocommerce .pagination ul li span,
.woo-type6 .woocommerce-message,
.woo-type6 .woocommerce-info,
.woo-type6 .woocommerce-error,
.woo-type6 .woocommerce-message:before,
.woo-type6 .woocommerce-info:before,
.woo-type6 .woocommerce-error:before,
.woo-type6 ul.products li.product .price,
.woo-type6 ul.products li.product .product-content,
.woo-type6 ul.products li.product .product-thumb img {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
}

.woo-type6 ul.products li.product .product-thumb {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
}

/* Image Slide Effect */

.woo-type6 ul.products li.pif-has-gallery .product-thumb .image {
    display: block;
    overflow: hidden;
    position: relative;
    text-align: center;
}

.woo-type6 ul.products li.pif-has-gallery .product-thumb .image img:first-child {
    left: 0;
    overflow: hidden;
    top: 0;
}

.woo-type6 ul.products li.pif-has-gallery .product-thumb .image img:first-child,
.woo-type6 ul.products li.pif-has-gallery:hover .product-thumb .image .secondary-image {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
}

.woo-type6 ul.products li.pif-has-gallery:hover .product-thumb .image img:first-child {
    -webkit-transform: translate(-100%, 0);
    -moz-transform: translate(-100%, 0);
    -ms-transform: translate(-100%, 0);
    -o-transform: translate(-100%, 0);
    transform: translate(-100%, 0);
}

.woo-type6 ul.products li.pif-has-gallery .product-thumb .image .secondary-image {
    -webkit-transform: translate(100%, 0);
    -moz-transform: translate(100%, 0);
    -ms-transform: translate(100%, 0);
    -o-transform: translate(100%, 0);
    transform: translate(100%, 0);
}

.woo-type6 ul.products li:not(.pif-has-gallery) .product-thumb .image {
    overflow: hidden;
}

.woo-type6 ul.products li:not(.pif-has-gallery):hover .product-thumb .image img,
.woo-type6 ul.products li.pif-has-gallery:hover .product-thumb .image img:only-child {
    -webkit-transform: scale(1.15);
    -moz-transform: scale(1.15);
    -ms-transform: scale(1.15);
    -o-transform: scale(1.15);
    transform: scale(1.15);
}

.woo-type6 ul.products li.product-category:not(.pif-has-gallery):hover .product-thumb .image img,
.woo-type6 ul.products li.product-category.pif-has-gallery:hover .product-thumb .image img:only-child {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}

/*--------------------------------------------------------------
	4.0 - Browseer Fix
	--------------------------------------------------------------*/

@-moz-document url-prefix() {
    .woo-type6 .quantity .qty,
    .woo-type6.woocommerce-page .quantity .qty {
        height: 41px;
        min-height: 41px;
    }
    .woo-type6 form .form-row .select2-container {
        line-height: 37px;
    }
}

/*--------------------------------------------------------------
	5.0 - Default Color
	--------------------------------------------------------------*/

/*----*****---- << Background >> --****--*/

.woo-type6 ul.products li.product .product-wrapper,
.woo-type6 ul.products li.product .product-thumb a.add_to_cart_button,
.woo-type6 ul.products li.product .product-thumb a.button.product_type_simple,
.woo-type6 ul.products li.product .product-thumb a.button.product_type_variable,
.woo-type6 ul.products li.product .product-thumb a.added_to_cart.wc-forward,
.woo-type6 ul.products li.product .product-thumb a.add_to_wishlist,
.woo-type6 ul.products li.product .product-thumb .yith-wcwl-wishlistaddedbrowse a,
.woo-type6 ul.products li.product .product-thumb .yith-wcwl-wishlistexistsbrowse a,
.woo-type6 ul.products li.product .product-thumb a.add_to_cart_button:after,
.woo-type6 ul.products li.product .product-thumb a.button.product_type_simple:after,
.woo-type6 ul.products li.product .product-thumb a.button.product_type_variable:after,
.woo-type6 ul.products li.product .product-thumb a.added_to_cart.wc-forward:after,
.woo-type6 ul.products li.product .product-thumb a.add_to_wishlist:after,
.woo-type6 ul.products li.product .product-thumb .yith-wcwl-wishlistaddedbrowse a:after,
.woo-type6 ul.products li.product .product-thumb .yith-wcwl-wishlistexistsbrowse a:after,
.woo-type6 ul.products li.product .product-wrapper,
.woo-type6 ul.products li.product .product-thumb,
.woo-type6 div.product .woocommerce-tabs ul.tabs li.active,
.woo-type6 .woocommerce-tabs .panel,
.woo-type6 .select2-results,
.woo-type6 .woocommerce-message,
.woo-type6 .woocommerce-info,
.woo-type6 .woocommerce-error {
    background-color: rgba(0, 0, 0, 0);
}

.woo-type6 ul.products li.product .product-thumb a.add_to_cart_button:hover,
.woo-type6 ul.products li.product .product-thumb a.button.product_type_simple:hover,
.woo-type6 ul.products li.product .product-thumb a.button.product_type_variable:hover,
.woo-type6 ul.products li.product .product-thumb a.added_to_cart.wc-forward:hover,
.woo-type6 ul.products li.product .product-thumb a.add_to_wishlist:hover,
.woo-type6 ul.products li.product .product-thumb .yith-wcwl-wishlistaddedbrowse a:hover,
.woo-type6 ul.products li.product .product-thumb .yith-wcwl-wishlistexistsbrowse a:hover,
.woo-type6 ul.products li.product .product-thumb a.add_to_cart_button:hover:after,
.woo-type6 ul.products li.product .product-thumb a.button.product_type_simple:hover:after,
.woo-type6 ul.products li.product .product-thumb a.button.product_type_variable:hover:after,
.woo-type6 ul.products li.product .product-thumb a.added_to_cart.wc-forward:hover:after,
.woo-type6 ul.products li.product .product-thumb a.add_to_wishlist:hover:after,
.woo-type6 ul.products li.product .product-thumb .yith-wcwl-wishlistaddedbrowse a:hover:after,
.woo-type6 ul.products li.product .product-thumb .yith-wcwl-wishlistexistsbrowse a:hover:after,
.woo-type6 .quantity .qty,
.woo-type6.woocommerce-page .quantity .qty {
    background-color: #fff;
}

.woo-type6 ul.products li.product .onsale,
.woo-type6 ul.products li.product:hover .onsale {
    background-color: #77a464;
}

.woo-type6 ul.products li.product .out-of-stock,
.woo-type6 ul.products li.product:hover .out-of-stock {
    background-color: #9f2124;
}

.woo-type6 ul.products li.product .product-thumb,
.woo-type6 ul.products li.product-category .product-wrapper img,
.woo-type6 ul.products li.product .product-thumb a.add_to_cart_button,
.woo-type6 ul.products li.product .product-thumb a.button.product_type_simple,
.woo-type6 ul.products li.product .product-thumb a.button.product_type_variable,
.woo-type6 ul.products li.product .product-thumb a.added_to_cart.wc-forward,
.woo-type6 ul.products li.product .product-thumb a.add_to_wishlist,
.woo-type6 ul.products li.product .product-thumb .yith-wcwl-wishlistaddedbrowse a,
.woo-type6 ul.products li.product .product-thumb .yith-wcwl-wishlistexistsbrowse a {
    border-color: #fff;
}

.woo-type6 ul.products li.product .product-thumb a.add_to_cart_button,
.woo-type6 ul.products li.product .product-thumb a.button.product_type_simple,
.woo-type6 ul.products li.product .product-thumb a.button.product_type_variable,
.woo-type6 ul.products li.product .product-thumb a.added_to_cart.wc-forward,
.woo-type6 ul.products li.product .product-thumb a.add_to_wishlist,
.woo-type6 ul.products li.product .product-thumb .yith-wcwl-wishlistaddedbrowse a,
.woo-type6 ul.products li.product .product-thumb .yith-wcwl-wishlistexistsbrowse a,
.woo-type6 ul.products li.product .product-thumb a.add_to_cart_button:hover,
.woo-type6 ul.products li.product .product-thumb a.button.product_type_simple:hover,
.woo-type6 ul.products li.product .product-thumb a.button.product_type_variable:hover,
.woo-type6 ul.products li.product .product-thumb a.added_to_cart.wc-forward:hover,
.woo-type6 ul.products li.product .product-thumb a.add_to_wishlist:hover,
.woo-type6 ul.products li.product .product-thumb .yith-wcwl-wishlistaddedbrowse a:hover,
.woo-type6 ul.products li.product .product-thumb .yith-wcwl-wishlistexistsbrowse a:hover,
.woo-type6 .select2-container .select2-choice,
.woo-type6.woocommerce .selection-box:after,
.woo-type6 .woocommerce .selection-box:after {
    border-color: rgba(0, 0, 0, 0);
}

/*----*****---- << Colors >> --****--*/

.woo-type6 ul.products li.product-category .product-details h5,
.woo-type6 ul.products li.product-category .product-details h5 .count {
    color: #000;
}

.woo-type6 .select2-container .select2-choice,
.woo-type6 .select2-chosen,
.woo-type6 .select2-results {
    color: #6e4d27;
}

.woo-type6 ul.products li.product .product-details span.price,
.woo-type6 ul.products li.product .product-details .product-price .amount,
.woo-type6 ul.products li.product .product-details span.price del,
.woo-type6 ul.products li.product .product-details span.price del .amount,
.woo-type6 ul.products li.product .product-details span.price ins,
.woo-type6 ul.products li.product .product-details span.price ins .amount,
.woo-type6 ul.products li.product .onsale,
.woo-type6 ul.products li.product:hover .onsale,
.woo-type6 ul.products li.product .out-of-stock,
.woo-type6 ul.products li.product:hover .out-of-stock {
    color: #fff;
}

/*--------------------------------------------------------------
	 6.0 - Responsive
	--------------------------------------------------------------*/

/*----*****---- << Tablet (Portrait) >> ----*****----*/

/* Note: Design for a width of 768px */

@media only screen and (min-width:768px) and (max-width:991px) {
    .woo-type6 ul.products li.product .product-details h5 {
        font-size: 18px;
    }
    .woo-type6 ul.products li.product .price,
    .woo-type6 ul.products li.product:hover .price {
        padding: 3px 15px;
    }
}